<app-app-menu></app-app-menu>
<div class="content">
  <h1>Welcome, {{ currentUser?.firstName }} {{ currentUser?.lastName }}</h1>
</div>

<section class="features-icons text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class=" mx-auto mb-5 mb-lg-0 mb-lg-3">
          <h3>Angular</h3>
          <p class="lead mb-0">Mobile friendly and looks great on any device!</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mx-auto mb-5 mb-lg-0 mb-lg-3">
          <h3>Material</h3>
          <p class="lead mb-0">Mobile friendly and looks great on any device!</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mx-auto mb-0 mb-lg-3">
          <h3>Bootstrap</h3>
          <p class="lead mb-0">Mobile friendly and looks great on any device!</p>
        </div>
      </div>
    </div>
  </div>
</section>