/* form card */

.form .mat-mdc-card {
    background-color: #ffffff;
    color: #495057;
    box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
    border-radius: 6px;
    padding: 40px;
}

.form .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white;
}

.form .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: black;
}

.form .mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) .mat-mdc-form-field-infix {
    border-bottom: 1px solid black;
}

.form .mdc-text-field--disabled.mdc-text-field--filled {
    background-color: white;
}
.form .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: black;
}
.form .mdc-text-field--disabled .mdc-text-field__input {
    color: black;
}
.form .mdc-text-field--disabled .mdc-floating-label {
    color: black;
}