<app-app-menu></app-app-menu>

<div class="form">
  <mat-card class="personal-details-card">
    <mat-card-header>
      <mat-card-title>Personal Details</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="personal-details-content">
        <div class="readonly-fields" *ngIf="!isEditMode">
          <mat-form-field class="full-width">
            <mat-label>First Name</mat-label>
            <input matInput [(ngModel)]="user.firstName" [disabled]="!isEditMode">
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Last Name</mat-label>
            <input matInput [(ngModel)]="user.lastName" [disabled]="!isEditMode">
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Date of Birth</mat-label>
            <input matInput [(ngModel)]="user.dateOfBirth" [disabled]="!isEditMode">
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Identity Number</mat-label>
            <input matInput [(ngModel)]="user.identityNumber" [disabled]="!isEditMode">
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Mobile Number</mat-label>
            <input matInput [(ngModel)]="user.mobileNumber" [disabled]="!isEditMode">
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Gender</mat-label>
            <input matInput [(ngModel)]="user.gender" [disabled]="!isEditMode">
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>Marital Status</mat-label>
            <input matInput [(ngModel)]="user.maritalStatus" [disabled]="!isEditMode">
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Address Line 1</mat-label>
            <input matInput [(ngModel)]="user.address.line1" [disabled]="!isEditMode">
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Address Line 2</mat-label>
            <input matInput [(ngModel)]="user.address.line2" [disabled]="!isEditMode">
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Address Line 3</mat-label>
            <input matInput [(ngModel)]="user.address.line3" [disabled]="!isEditMode">
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Suburb</mat-label>
            <input matInput [(ngModel)]="user.address.suburb" [disabled]="!isEditMode">
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>City</mat-label>
            <input matInput [(ngModel)]="user.address.city" [disabled]="!isEditMode">
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Postal Code</mat-label>
            <input matInput [(ngModel)]="user.address.postalCode" [disabled]="!isEditMode">
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Country</mat-label>
            <input matInput [(ngModel)]="user.address.country" [disabled]="!isEditMode">
          </mat-form-field>
          <button mat-raised-button (click)="editDetails()">Edit</button>
        </div>

        <div class="editable-fields" *ngIf="isEditMode">
          <!-- Display editable fields when in edit mode -->
          <mat-form-field class="full-width">
            <mat-label>First Name</mat-label>
            <input matInput [(ngModel)]="user.firstName">
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Last Name</mat-label>
            <input matInput [(ngModel)]="user.lastName">
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Date of Birth</mat-label>
            <input matInput [(ngModel)]="user.dateOfBirth">
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Identity Number</mat-label>
            <input matInput [(ngModel)]="user.identityNumber">
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>Mobile Number</mat-label>
            <input matInput [(ngModel)]="editedUser.mobileNumber">
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Gender</mat-label>
            <input matInput [(ngModel)]="editedUser.gender">
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Marital Status</mat-label>
            <input matInput [(ngModel)]="editedUser.maritalStatus">
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Address Line 1</mat-label>
            <input matInput [(ngModel)]="editedUser.address.line1">
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Address Line 2</mat-label>
            <input matInput [(ngModel)]="editedUser.address.line2">
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Address Line 3</mat-label>
            <input matInput [(ngModel)]="editedUser.address.line3">
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Suburb</mat-label>
            <input matInput [(ngModel)]="editedUser.address.suburb">
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>City</mat-label>
            <input matInput [(ngModel)]="editedUser.address.city">
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Postal Code</mat-label>
            <input matInput [(ngModel)]="editedUser.address.postalCode">
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Country</mat-label>
            <input matInput [(ngModel)]="editedUser.address.country">
          </mat-form-field>
          <div class="row">
            <button class="col-sm-12 col-md-5 mx-2 mt-4" mat-raised-button color="primary" (click)="updateDetails()">Update</button>
            <button class="col-sm-12 col-md-5 mx-2 mt-4" mat-raised-button (click)="cancelEdit()">Cancel</button>
          </div>                   
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>